@model Travel_Request_System_EF.Models.Attachments

@{
    ViewBag.Title = "FileUpload";
}

@using (@Html.BeginForm("FileUpload", "FileUpload", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
{
    <div class="row" style="margin-bottom:15px">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" name="file_Uploader" id="exampleInputFile">
                    @*<label class="custom-file-label" for="exampleInputFile">Choose file</label>*@
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" id="bttn_Upload" value="Upload" />
                </div>
            </div>
        </div>
    </div>

    if (ViewBag.fileUploader != null)
    {
        <aside class="right-side">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Details</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body table-responsive">
                                <table id="uloadTable" class="table table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Uploaded Date</th>
                                            <th>Uploaded By</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<Travel_Request_System_EF.Models.Attachments>)ViewBag.fileUploader)
                                        {
                                            <tr id="@item.FileName">
                                                <td>@item.FileName</td>
                                                <td>@item.UploadedDate.ToShortDateString()</td>
                                                <td>@item.Users.FirstName + " " + @item.Users.LastName</td>
                                                <td style="text-align: center">
                                                    @Html.ActionLink("  Open File", "OpenFile", new { fileName = item.FileName }, new { @class = "form-control btn btn-info glyphicon-edit" })
                                                </td>
                                                <td>
                                                    @Html.ActionLink("  Delete File", "RemoveUploadFile", new { fileName = item.FileName }, new { @class = "form-control btn btn-info glyphicon-edit Deletefilelink" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    }
}

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        if('@ViewBag.Message' == 'File Uploaded Successfully')
        {
            alert('File Uploaded Successfully');
        }

        if ('@ViewBag.Message' == 'File is already exists') {
            alert('File is already exists');
        }

        $('#uloadTable td a.Deletefilelink').click(function () {
            var filename = $(this).parent().parent().attr('id');
            $(this).parent().parent().remove();

            $.ajax({
                type: "post",
                url: "/FileUpload/RemoveUploadFile?fileName=" + filename,
                datatype: "json",
                traditional: true,
                success: function (data) {
                    alert('File Deleted');
                    if (data == 0) {
                        $('#uloadTable').remove();
                    }
                }
            });
        });
    });
    </script>
}
