@model IEnumerable<Travel_Request_System_EF.Models.TravelRequests>

@{
    ViewBag.Title = "Travel Requests List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside class="right-side">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Details</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="detailsGrid1" class="table table-bordered table-hover table-responsive">
                            @if (Model == null || (Model.Count() == 0))
                            {
                                <tr>
                                    <td colspan="10">No Record's found.</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicationNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PortOfOriginID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PortOfDestinationID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TravelDays)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DepartureDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReturnDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AirTicketManagement)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateOn)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsSubmitted)
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>

                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.ApplicationNumber)
                                        </td>
                                        <td>
                                            @(new HtmlString(item.City.CityDesc + " ," + item.City.Country))
                                        </td>
                                        <td>
                                            @(new HtmlString(item.City1.CityDesc + " ," + item.City1.Country))
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.TravelDays)
                                        </td>
                                        <td>
                                            @if (item.DepartureDate != null)
                                            {
                                                @(new HtmlString(string.Format("{0:dd MMM yyyy}", Convert.ToDateTime(item.DepartureDate.ToString()))));
                                            }
                                        </td>
                                        <td>
                                            @if (item.ReturnDate != null)
                                            {
                                                @(new HtmlString(string.Format("{0:dd MMM yyyy}", Convert.ToDateTime(item.ReturnDate.ToString()))));
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.AirTicketManagement)
                                        </td>
                                        <td>
                                            @(new HtmlString(string.Format("{0:dd MMM yyyy}", Convert.ToDateTime(item.CreateOn.ToString()))));
                                        </td>
                                        <td>
                                            @(new HtmlString(item.Users1.FirstName + " ," + item.Users1.LastName))
                                        </td>
                                        <td>
                                            @if (item.IsSubmitted != true)
                                            {
                                                @(new HtmlString("Draft"))
                                            }
                                            else
                                            {
                                                @(new HtmlString("Submitted"))
                                            }
                                        </td>
                                        <td>
                                            @{
                                                var lpo = false;
                                                var quo = false;
                                                using (Travel_Request_System_EF.Models.BTCEntities db = new Travel_Request_System_EF.Models.BTCEntities())
                                                {
                                                    if (db.RFQ.Where(a => a.TravelRequestID == item.ID && a.LPO.Where(b => !((bool)b.IsDeleted)).Count() > 0).Count() > 0)
                                                    {
                                                        lpo = true;
                                                    }
                                                    if (db.ATQuotation.Where(a => a.QuotationID == (db.Quotation.Where(b => b.TravelRequestID == item.ID && b.RFQ.Processing == (int)Travel_Request_System_EF.Models.ViewModel.ProcessingStatus.BeingProcessed).FirstOrDefault().ID) && (bool)a.IsActive).Count() > 0 ||
                                                        db.HSQuotation.Where(a => a.QuotationID == (db.Quotation.Where(b => b.TravelRequestID == item.ID && b.RFQ.Processing == (int)Travel_Request_System_EF.Models.ViewModel.ProcessingStatus.BeingProcessed).FirstOrDefault().ID) && (bool)a.IsActive).Count() > 0 ||
                                                        db.PCQuotation.Where(a => a.QuotationID == (db.Quotation.Where(b => b.TravelRequestID == item.ID && b.RFQ.Processing == (int)Travel_Request_System_EF.Models.ViewModel.ProcessingStatus.BeingProcessed).FirstOrDefault().ID) && (bool)a.IsActive).Count() > 0)
                                                    {
                                                        quo = true;
                                                    }
                                                }
                                                if (lpo)
                                                {
                                                    <span class="glyphicon">
                                                        @Html.ActionLink("  View LPO", "Index", new { id = item.ID }, new { @class = "form-control btn btn-info glyphicon-info-sign" })
                                                    </span>
                                                }
                                                if (quo)
                                                {
                                                    <span class="glyphicon">
                                                        @Html.ActionLink("  Details", "LPOProcessing", new { id = item.ID }, new { @class = "form-control btn btn-info glyphicon-info-sign" })
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>Please Add Quotations</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
