@model Travel_Request_System_EF.Models.Users

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">User Information</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div>
                    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="row" style="margin-bottom:15px">
                        <div class="form-group">
                            <label class="control-label col-md-2">Role</label>
                            <div class="col-md-10">
                                <div class="dropdown">
                                    <input type="text" class="form-control pull-right" readonly="readonly" id="RoleName" name="RoleName" value="@ViewBag.RoleName" />
                                    @*@Html.DropDownList("RoleID", (((IEnumerable<Travel_Request_System_EF.Models.Role>)ViewBag.allRoles).Select(m => new SelectListItem { Text = m.RoleName, Value = m.RoleId.ToString() }))),"RoleID","RoleName", Model.Roles.FirstOrDefault())*@
                                    @*@Html.ValidationMessageFor(Model => Model.roleDet, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.HREmployeeID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.DropDownList("EmployeeID", (((IEnumerable<Travel_Request_System_EF.Models.ViewModel.MiniEmployeeDetail>)ViewBag.allEmployees).Select(m => new SelectListItem { Text = m.Name + " - " + m.EmployeeCode, Value = m.EmployeeCode.ToString() }))),"EmployeeName","EmployeeCode", Model.MiniEmployeeDetail.FirstOrDefault())
                                @Html.ValidationMessageFor(model => model.HREmployeeID, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @type = "email" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { @style = "width:100%", @value = Model.Password })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <input type="submit" value="Save" class="form-control btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <div class="row" style="margin-bottom:15px">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-3">
                    @Html.ActionLink("Back to List", "ManageUsers", null, new { @class = "form-control btn btn-info" })
                </div>
            </div>
        </div>
    </div>
</div>

