@model Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail

@{
    ViewBag.Title = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-md-12">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Employee Information</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div>
        @*<div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
              <div class="form-group">
                  <label class="col-sm-3">Employee ID</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control disabled" id="employeeID" name="employeeID" />
                  </div>
              </div>
          </div>*@
        <div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">BTC Employee Code</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).EmployeeCode)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).EmployeeCode)</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Employee Name</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).FullName)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).FullName)</text>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Employee Position Code</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).PositionCode)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).PositionCode)</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Designation</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Designation)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Designation)</text>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Department</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Department)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Department)</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Department Head</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).DepartmentHead)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).DepartmentHead)</text>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Cost Center</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Costcenter)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Costcenter)</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Cost Center Head</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).CostCenterHead)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).CostCenterHead)</text>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Passport Number</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).PassportID)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).PassportID)</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Passport Expiry</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).PassportexpireDate)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).PassportexpireDate)</text>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Qatar ID</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).QatarID)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).QatarID)</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Qatar ID Expiry</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).QIDEDate)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).QIDEDate)</text>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Location</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Location)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Location)</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Section</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Section)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).Section)</text>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:15px">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3">Contact Details</label>
              <div class="col-sm-9">
                <text>@(string.IsNullOrEmpty((((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).ContactDetails)) ? "NA" : ((Travel_Request_System_EF.Models.ViewModel.FullEmployeeDetail)ViewBag.FullEmployeeDetails).ContactDetails)</text>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>