@model Travel_Request_System_EF.Models.TravelRequest

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:2400px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Information</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-8">
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-3">Application/ Form No.</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.ApplicationNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ApplicationNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:15px">
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Employee ID</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">BTC Employee Code</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Employee Name</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.FirstName + " " + model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Employee Position Code</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Designation</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Department</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Department Head</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Cost Center</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Cost Center Head</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Passport Number</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Passport Epiry</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Qatar ID</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Qatar Expiry</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Location</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Section</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Contact Details</label>
                                    <div class="col-sm-9">
                                        @*@Html.EditorFor(model => model.User.HREmployeeID, new { htmlAttributes = new { @class = "form-control" } })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Air Travel Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Port Of Origin</label>
                                <div class="col-sm-9">
                                    @*@Html.DropDownList("PortOfOriginID", ((IEnumerable<Travel_Request_System_EF.Models.City>)ViewBag.Cities).Select(m => new SelectListItem { Text = m.CityDesc, Value = m.CityID.ToString() }))*@

                                    @Html.DropDownListFor(model => model.PortOfOriginID, ((IEnumerable<Travel_Request_System_EF.Models.City>)ViewBag.Cities).Select(m => new SelectListItem { Text = m.CityDesc, Value = m.CityID.ToString() }), htmlAttributes: new { @class = "form-control select2" })
                                    @*@Html.ValidationMessageFor(model => model.PortOfOriginID, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Port Of Destination</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.PortOfDestinationID, ((IEnumerable<Travel_Request_System_EF.Models.City>)ViewBag.Cities).Select(m => new SelectListItem { Text = m.CityDesc, Value = m.CityID.ToString()}), htmlAttributes: new { @class = "form-control select2" })
                                    @*@Html.ValidationMessageFor(model => model.PortOfDestinationID, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Ticket Class</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="ticketClass">
                                        <option @(Model.TicketClass == "Any" ? " selected" : "")>Any</option>
                                        <option @(Model.TicketClass == "Business Class" ? " selected" : "")>Business Class</option>
                                        <option @(Model.TicketClass == "Economy Class" ? " selected" : "")>Economy Class</option>
                                        <option @(Model.TicketClass == "Preminum Economy Class" ? " selected" : "")>Preminum Economy Class</option>
                                        <option @(Model.TicketClass == "First Class" ? " selected" : "")>First Class</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Travel Days</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.TravelDays, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TravelDays, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Daily Allowance</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.DailyAllowance, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1.00" } })
                                    @Html.ValidationMessageFor(model => model.DailyAllowance, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Currency</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.CurrencyID, ((IEnumerable<Travel_Request_System_EF.Models.Currency>)ViewBag.CurrencyID).Select(m => new SelectListItem { Text = m.CurrencyDesc, Value = m.CurrencyID.ToString() }), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CurrencyID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row" style="margin-bottom:15px">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2">Remarks</label>
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(model => model.TravelRemarks, htmlAttributes: new { @class = "form-control", @rows = "3" })
                                        @Html.ValidationMessageFor(model => model.TravelRemarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-3">Purpose of Visit</label>
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(model => model.PurposeOfVisit, htmlAttributes: new { @class = "form-control", @rows = "4" })
                                    @Html.ValidationMessageFor(model => model.PurposeOfVisit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Additional Travel Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div>
                        <div style="margin-bottom:15px">
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Departure Date</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Return Date</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Preferred Departure Time</label>
                                    <div class="col-sm-9">
                                        <div class="bootstrap-timepicker">
                                            <div class="input-group time">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                                                @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Preferred Return Time</label>
                                    <div class="col-sm-9">
                                        <div class="bootstrap-timepicker">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                @Html.EditorFor(model => model.ReturnTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                                                @Html.ValidationMessageFor(model => model.ReturnTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">First Day of Business</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.FirstBusinessDay, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @Html.ValidationMessageFor(model => model.FirstBusinessDay, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Last Day of Business</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.LastBusinessDay, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @Html.ValidationMessageFor(model => model.LastBusinessDay, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2">Remarks</label>
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(model => model.TravelRemarks, htmlAttributes: new { @class = "form-control", @rows = "3", @placeholder = "Enter Travel Remarks..." })
                                        @Html.ValidationMessageFor(model => model.TravelRemarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Accomodation Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div>
                        <div style="margin-bottom:15px">
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Air Ticket Arrangement</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label>
                                                <input type="radio" id="atrBTC" name="airTicketManagement" value="BTC" class="flat-red"  @(Model.AirTicketManagement == "BTC" ? " checked" : "")> BTC
                                            </label>
                                            &emsp;
                                            &emsp;
                                            &emsp;
                                            <label>
                                                <input type="radio" id="atrOther" name="airTicketManagement" value="Other" class="flat-red" @(Model.AirTicketManagement == "Other" ? " checked" : "")> Other
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Hotel Name</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.HotelName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HotelName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Travel Allowance</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label>
                                                <input type="radio" id="taBTC" name="travelAllowance" value="BTC" class="flat-red"  @(Model.TravelAllowance == "BTC" ? " checked" : "")> BTC
                                            </label>
                                            &emsp;
                                            &emsp;
                                            &emsp;
                                            <label>
                                                <input type="radio" id="taOther" name="travelAllowance" value="Other" class="flat-red" @(Model.TravelAllowance == "Other" ? " checked" : "")> Other
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Check In Date</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.CheckInDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @Html.ValidationMessageFor(model => model.CheckInDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Hotel Stay</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label>
                                                <input type="radio" id="hsBTC" name="hotelStay" value="BTC" class="flat-red" @(Model.HotelStay == "BTC" ? " checked" : "")> BTC
                                            </label>
                                            &emsp;
                                            &emsp;
                                            &emsp;
                                            <label>
                                                <input type="radio" id="hsOther" name="hotelStay" value="Other" class="flat-red" @(Model.HotelStay == "Other" ? " checked" : "")> Other
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Check In Time</label>
                                    <div class="col-sm-9">
                                        <div class="bootstrap-timepicker">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                @Html.EditorFor(model => model.CheckInTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                                                @Html.ValidationMessageFor(model => model.CheckInTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Hotel Category</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="hotelCategory">
                                            <option @(Model.HotelCategory == "Any" ? " selected" : "")>Any</option>
                                            <option @(Model.HotelCategory == "1 Star Rated Hotels" ? " checked" : "")>1 Star Rated Hotels</option>
                                            <option @(Model.HotelCategory == "2 Star Rated Hotels" ? " checked" : "")>2 Star Rated Hotels</option>
                                            <option @(Model.HotelCategory == "3 Star Rated Hotels" ? " checked" : "")>3 Star Rated Hotels</option>
                                            <option @(Model.HotelCategory == "4 Star Rated Hotels" ? " checked" : "")>4 Star Rated Hotels</option>
                                            <option @(Model.HotelCategory == "5 or Star Rated Hotels" ? " checked" : "")>5 or Above Star Rated Hotels</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Check Out Date</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.CheckOutDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @Html.ValidationMessageFor(model => model.CheckOutDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Room Category</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="roomCategory">
                                            <option @(Model.RoomCategory == "Any" ? " selected" : "")>Any</option>
                                            <option @(Model.RoomCategory == "Standard" ? " selected" : "")>Standard</option>
                                            <option @(Model.RoomCategory == "Deluxe" ? " selected" : "")>Deluxe</option>
                                            <option @(Model.RoomCategory == "Suite" ? " selected" : "")>Suite</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Check Out Time</label>
                                    <div class="col-sm-9">
                                        <div class="bootstrap-timepicker">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                @Html.EditorFor(model => model.CheckOutTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                                                @Html.ValidationMessageFor(model => model.CheckOutTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Room Type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="roomType">
                                            <option @(Model.RoomType == "Single" ? " selected" : "")>Single</option>
                                            <option @(Model.RoomType == "Twin" ? " selected" : "")>Twin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Airport Pickup</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="airportPickUp" onchange="funcpickup(this.selectedIndex);">
                                            <option value="-1" @(Model.AirportPickUp == "-1" ? " selected" : "")>----</option>
                                            <option value="0" @(Model.AirportPickUp == "0" ? " selected" : "")>Yes</option>
                                            <option value="1" @(Model.AirportPickUp == "1" ? " selected" : "")>No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Additional Expenses</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.AdditionalAllowance, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "10.00"} })
                                        @Html.ValidationMessageFor(model => model.AdditionalAllowance, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="PickUpDetailsDiv" class="col-xs-12 col-md-12" style="display:none">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Pick Up Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div>
                        <div style="margin-bottom:15px">
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Pick Up Location</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.PickUpLocation, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Pick Up Date</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.PickUpDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @Html.ValidationMessageFor(model => model.PickUpDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Pick Up Time</label>
                                    <div class="col-sm-9">
                                        <div class="bootstrap-timepicker">
                                            <div class="input-group time">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                @Html.EditorFor(model => model.PickUpTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                                                @Html.ValidationMessageFor(model => model.PickUpTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Drop Off Location</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.DropOffLocation, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Drop Off Date</label>
                                    <div class="col-sm-9">
                                        <dAiv class="form-group">
                                            @Html.EditorFor(model => model.DropOffDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @Html.ValidationMessageFor(model => model.DropOffDate, "", new { @class = "text-danger" })
                                        </dAiv>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Drop Off Time</label>
                                    <div class="col-sm-9">
                                        <div class="bootstrap-timepicker" data-date-format="DD:MM:YYYY HH:mm">
                                            <div class="input-group time">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                @Html.EditorFor(model => model.DropOffTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                                                @Html.ValidationMessageFor(model => model.DropOffTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Preferred Vehicle Type</label>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <select class="form-control" name="preferredVehicle">
                                                <option @(Model.PreferredVehicle == "option 1" ? " selected" : "")>option 1</option>
                                                <option @(Model.PreferredVehicle == "option 2" ? " selected" : "")>option 2</option>
                                                <option @(Model.PreferredVehicle == "option 3" ? " selected" : "")>option 3</option>
                                                <option @(Model.PreferredVehicle == "option 4" ? " selected" : "")>option 4</option>
                                                <option @(Model.PreferredVehicle == "option 5" ? " selected" : "")>option 5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Remarks</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div>
                        <div style="margin-bottom:15px">
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(model => model.Remarks, htmlAttributes: new { @class = "form-control", @rows = "4", @placeholder = "Enter Travel Request Remarks..." })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:15px">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-info btn-primary" value="Save" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "form-control btn btn-info" })
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function funcpickup(e) {
            if (e == 1) {
                $('#PickUpDetailsDiv').show()
            }
            else {
                $('#PickUpDetailsDiv').hide()
            }
        }

        if (@Model.AirportPickUp == "0") {
            $('#PickUpDetailsDiv').show()
        }
        else {
            $('#PickUpDetailsDiv').hide()
        }
    </script>
}