@model IEnumerable<Travel_Request_System_EF.Models.TravelRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            @Html.ActionLink("Create New Travel Request", "Create", null, new { @class = "form-control btn btn-info" })
        </div>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
    </div>
</div>

<aside class="right-side">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Details</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="detailsGrid1" class="table table-bordered table-hover table-responsive">
                            @if (Model == null || (Model.Count() == 0))
                            {
                                <tr>
                                    <td colspan="10">No Record's found.</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicationNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PortOfOriginID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TicketClass)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TravelDays)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DepartureDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReturnDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AirTicketManagement)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateOn)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                </tr>

                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.ApplicationNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.PortOfOriginID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.TicketClass)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.TravelDays)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.DepartureDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.ReturnDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.AirTicketManagement)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.CreateOn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.CreatedBy)
                                        </td>
                                        <td>
                                            <span class="glyphicon">
                                                @Html.ActionLink("  Edit", "Edit", new { id = item.TravelRequestID }, new { @class = "form-control btn btn-info glyphicon-edit" })
                                            </span>
                                            <span class="glyphicon">
                                                @Html.ActionLink("  Details", "Details", new { id = item.TravelRequestID }, new { @class = "form-control btn btn-info glyphicon-info-sign" })
                                            </span>
                                            <span class="glyphicon">
                                                @Html.ActionLink("  Delete", "Delete", new { id = item.TravelRequestID }, new { @class = "form-control btn btn-info glyphicon-remove" })
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
