@model Travel_Request_System_EF.Models.RFQ

@{
    ViewBag.Title = "Preview RFQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="detailsDiv" style="height:auto">

    @Html.Partial("_TravelRequestDetails", Model.TravelRequests)

    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Remarks</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("FileUpload", "RFQs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Attachment</label>
                                <div class="col-sm-9">
                                    <input type="file" class="btn btn-default" id="filenames" name="file" />
                                </div>
                            </div>
                        </div><div class="col-sm-6">
                            <button type="submit" name="Save" class="btn btn-info">Upload Files</button>
                        </div>
                    </div>
                }
                @if (ViewBag.fileUploader != null && ViewBag.fileUploader.Count > 0)
                {
                    <div class="row" style="margin-bottom:15px">
                        <aside class="right-side">
                            <!-- Main content -->
                            <section class="content">
                                <div class="container text-center">
                                    <div class="col-xs-11">
                                        <div class="box with-border">
                                            <div class="box-header">
                                                <h3 class="box-title">Details</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body table-responsive">
                                                <table id="uloadTable" class="table table-bordered table-hover table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>File Name</th>
                                                            <th>Uploaded Date</th>
                                                            <th>Uploaded By</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in (List<Travel_Request_System_EF.Models.Attachments>)ViewBag.fileUploader)
                                                        {
                                                            <tr id="@item.FileName">
                                                                <td>@item.FileName</td>
                                                                <td>@item.UploadedDate.ToShortDateString()</td>
                                                                <td>@(new HtmlString(item.Users.FirstName + " " + item.Users.LastName))</td>
                                                                <td style="text-align: center">
                                                                    @Html.ActionLink("  Open File", "OpenFile", new { fileName = item.FileName }, new { @class = "form-control btn btn-info glyphicon-edit" })
                                                                </td>
                                                                <td>

                                                                    @using (Html.BeginForm("RemoveUploadFile", "RFQs", new { fileName = item.FileName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <button type="submit" class="form-control btn btn-info glyphicon-edit">Delete File</button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </aside>
                    </div>
                }
                @using (Html.BeginForm("PreviewRFQ", "RFQs", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Travel Agency</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.TravelAgencyID, ((IEnumerable<Travel_Request_System_EF.Models.TravelAgency>)ViewBag.TravelAgency).Select(m => new SelectListItem { Text = m.AgencyCode, Value = m.ID.ToString() }), htmlAttributes: new { @class = "form-control select2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2">Remarks</label>
                                <div class="col-sm-12">
                                    @Html.TextAreaFor(model => model.Remarks, htmlAttributes: new { @class = "form-control", @rows = "3", @placeholder = "Enter Travel Remarks..." })
                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px">
                        <div class="col-md-3">
                            <input type="submit" class="form-control btn btn-info btn-primary" value="Create RFQ" />
                        </div>
                        <div class="col-md-3">
                            @Html.ActionLink("Back to List", "RFQMerger", new { id = Model.TravelRequestID }, new { @class = "form-control btn btn-info" })
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
                                //$(document).ready(function () {
                                //    $('#uloadTable td a.Deletefilelink').click(function () {
                                //        event.preventDefault();

                                //        var filename = $(this).parent().parent().attr('id');
                                //        $(this).parent().parent().remove();

                                //        $.ajax({
                                //            type: "post",
                                //            url: "/FileUpload/RemoveUploadFile?fileName=" + filename,
                                //            datatype: "json",
                                //            traditional: true,
                                //            success: function (data) {
                                //                alert('File Deleted');
                                //                if (data == 0) {
                                //                    $('#uloadTable').remove();
                                //                }
                                //            }
                                //        });
                                //    });
                                //});

                                //$("#uploadFileForm").on('submit', function (event) {
                                //    event.preventDefault();
                                //    // create form data
                                //    var formData = new FormData();
                                //    //grab the file that was provided by the user
                                //    var file = $('#filenames')[0].files[0];
                                //    // Loop through each of the selected files.
                                //    formData.append('file', file);
                                //    if (file) {
                                //        // Perform the ajax post
                                //        $.ajax({
                                //            url: '/RFQs/FileUpload',
                                //            data: formData,
                                //            processData: false,
                                //            contentType: false,
                                //            type: 'POST',
                                //            success: function (data) {
                                //            }
                                //        });
                                //    }
                                //});
    </script>
}
