@model Travel_Request_System_EF.Models.HSQuotation

@{
    ViewBag.Title = "Add Hotel Stay Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!(bool)Model.IsActive)
{
    <div class="form-horizontal">
        <div class="col-xs-12 col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Hotel Stay Quotation</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                    @using (Html.BeginForm("AddHSQuotation", "Quotation", new { ATQuotation = Model }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@Model.ID" name="Id" />

                        <div class="row" style="margin-bottom:15px">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <input type="submit" class="form-control btn btn-info btn-primary" value="Save To Records" />
                                </div>
                                <div class="col-md-9">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Travel Sector</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.TravelSector, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.DailyAllowance, null, new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Hotel Name</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.HotelName, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.ValidationMessageFor(model => model.HotelName, null , new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Hotel Category</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="hotelCategory">
                                            <option @(Model.HotelCategory == "Any" ? " selected" : "")>Any</option>
                                            <option @(Model.HotelCategory == "1 Star Rated Hotels" ? " checked" : "")>1 Star Rated Hotels</option>
                                            <option @(Model.HotelCategory == "2 Star Rated Hotels" ? " checked" : "")>2 Star Rated Hotels</option>
                                            <option @(Model.HotelCategory == "3 Star Rated Hotels" ? " checked" : "")>3 Star Rated Hotels</option>
                                            <option @(Model.HotelCategory == "4 Star Rated Hotels" ? " checked" : "")>4 Star Rated Hotels</option>
                                            <option @(Model.HotelCategory == "5 or Star Rated Hotels" ? " checked" : "")>5 or Above Star Rated Hotels</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Room Category</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="roomCategory">
                                            <option @(Model.RoomCategory == "Any" ? " selected" : "")>Any</option>
                                            <option @(Model.RoomCategory == "Standard" ? " selected" : "")>Standard</option>
                                            <option @(Model.RoomCategory == "Deluxe" ? " selected" : "")>Deluxe</option>
                                            <option @(Model.RoomCategory == "Suite" ? " selected" : "")>Suite</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Room Type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="roomType">
                                            <option @(Model.RoomType == "Single" ? " selected" : "")>Single</option>
                                            <option @(Model.RoomType == "Twin" ? " selected" : "")>Twin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Check In Date</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.CheckInDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @*@Html.ValidationMessageFor(model => model.CheckInDate, null , new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Check In Time</label>
                                    <div class="col-sm-9">
                                        <div class="bootstrap-timepicker" data-date-format="HH:mm">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                @Html.EditorFor(model => model.CheckInTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                                                @*@Html.ValidationMessageFor(model => model.CheckInTime, null , new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Check Out Date</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.CheckOutDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            @*@Html.ValidationMessageFor(model => model.CheckOutDate, null , new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Check Out Time</label>
                                    <div class="col-sm-9">
                                        <div class="bootstrap-timepicker" data-date-format="HH:mm">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                                @Html.EditorFor(model => model.CheckOutTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                                                @*@Html.ValidationMessageFor(model => model.CheckOutTime, null , new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Additional Expenses</label>
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "10.00" } })
                                        @*@Html.ValidationMessageFor(model => model.AdditionalAllowance, null , new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    @using (Html.BeginForm("FileUpload", "Quotation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Attachment</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="btn btn-default" id="filenames" name="file" />
                                    </div>
                                </div>
                            </div><div class="col-sm-6">
                                <button type="submit" name="Save" class="btn btn-info">Upload Files</button>
                            </div>
                        </div>
                    }
                    @if (ViewBag.fileUploader != null && ViewBag.fileUploader.Count > 0)
                    {
                        <div class="row" style="margin-bottom:15px">
                            <aside class="right-side">
                                <!-- Main content -->
                                <section class="content">
                                    <div class="container text-center">
                                        <div class="col-xs-11">
                                            <div class="box with-border">
                                                <div class="box-header">
                                                    <h3 class="box-title">Details</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body table-responsive">
                                                    <table id="uloadTable" class="table table-bordered table-hover table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>File Name</th>
                                                                <th>Uploaded Date</th>
                                                                <th>Uploaded By</th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in (List<Travel_Request_System_EF.Models.Attachments>)ViewBag.fileUploader)
                                                            {
                                                                <tr id="@item.FileName">
                                                                    <td>@item.FileName</td>
                                                                    <td>@item.UploadedDate.ToShortDateString()</td>
                                                                    <td>@(new HtmlString(item.Users.FirstName + " " + item.Users.LastName))</td>
                                                                    <td style="text-align: center">
                                                                        @Html.ActionLink("  Open File", "OpenFile", new { fileName = item.FileName }, new { @class = "form-control btn btn-info glyphicon-edit" })
                                                                    </td>
                                                                    <td>

                                                                        @using (Html.BeginForm("RemoveUploadFile", "Quotation", new { fileName = item.FileName }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                                        {
                                                                            @Html.AntiForgeryToken()
                                                                            <button type="submit" class="form-control btn btn-info glyphicon-edit">Delete File</button>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </aside>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_HSQuotation", Model)
}
<div class="row" style="margin-bottom:15px">
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-3">
                @Html.ActionLink("Back to List", "AddQuotation", new { id = Model.Quotation.RFQID }, new { @class = "form-control btn btn-info" })
            </div>
        </div>
    </div>
</div>
