@model Travel_Request_System_EF.Models.RFQ
@using Travel_Request_System_EF.Models.ViewModel

@{
  ViewBag.Title = "Add Quotation";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div style="height:auto">
    @*<div class="row" style="margin-bottom:15px">
          <div class="col-md-6">
              <div class="form-group">
                  <div class="col-md-4">
                      @Html.ActionLink("Add Quotation", "RFQMerger", new { id = Model.RFQID }, new { @class = "form-control btn btn-info" })
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="col-md-3 pull-right">
                  @Html.ActionLink("Back to List", "Index", null, new { @class = "form-control btn btn-info" })
              </div>
          </div>
      </div>*@

    <div class="form-horizontal">
      <aside class="right-side">
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Quotation Table</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-condensed table-bordered">
                    <thead>
                      <tr class="success">
                        <th>##</th>
                        <th>Details</th>
                        <th>Action</th>
                        <th>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      @if (Model.ProcessingSection == (int)ProcessingSections.AT || Model.ProcessingSection == (int)ProcessingSections.ATHS || Model.ProcessingSection == (int)ProcessingSections.ATHSPC || Model.ProcessingSection == (int)ProcessingSections.ATPC)
                      {
                        <tr>
                          <td>
                            @(new HtmlString(Model.TravelRequests.ApplicationNumber + " / AT-Q"))
                          </td>
                          <td>
                            Air Ticket Quotation list
                          </td>
                          @if (Model.Quotation.FirstOrDefault().ATQuotation.Where(a => a.IsActive == true && a.IsDeleted == false).Count() > 0)
                          {
                            <td>
                              <span class="glyphicon">
                                @Html.ActionLink("  View Details", "ViewATQuotations", new { id = Model.Quotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                              </span>
                            </td>
                            <td></td>
                          }
                          else if (Model.Quotation.FirstOrDefault().ATQuotation.Where(a => a.IsActive == false && a.IsDeleted == false).Count() > 0)
                          {
                            <td>
                              <span class="glyphicon">
                                @Html.ActionLink("  View to Add Details", "AddATQuotation", new { quoteid = Model.Quotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                              </span>
                            </td>
                            <td>
                              <span class="glyphicon" style="visibility:hidden">
                                @Html.ActionLink("  Delete", "DeleteATQuotation", new { id = Model.Quotation.FirstOrDefault().ATQuotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info glyphicon-remove-sign" })
                              </span>
                            </td>
                          }
                        </tr>
                      }

                      @if (Model.ProcessingSection == (int)ProcessingSections.ATHS || Model.ProcessingSection == (int)ProcessingSections.ATHSPC || Model.ProcessingSection == (int)ProcessingSections.HS || Model.ProcessingSection == (int)ProcessingSections.HSPC)
                      {
                        <tr>
                          <td>
                            @(new HtmlString(Model.TravelRequests.ApplicationNumber + " / HS-Q"))
                          </td>
                          <td>
                            Hotel Stay Quotation list
                          </td>
                          @if (Model.Quotation.FirstOrDefault().HSQuotation.Where(a => a.IsActive == true && a.IsDeleted == false).Count() > 0)
                          {
                            <td>
                              <span class="glyphicon">
                                @Html.ActionLink("  View Details", "ViewHSQuotations", new { id = Model.Quotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                              </span>
                            </td>
                            <td></td>
                          }
                          else if (Model.Quotation.FirstOrDefault().HSQuotation.Where(a => a.IsActive == false && a.IsDeleted == false).Count() > 0)
                          {
                            <td>
                              <span class="glyphicon">
                                @Html.ActionLink("  View to Add Details", "AddHSQuotation", new { quoteid = Model.Quotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                              </span>
                            </td>
                            <td>
                              <span class="glyphicon" style="visibility:hidden">
                                @Html.ActionLink("  Delete", "DeleteHSQuotation", new { id = Model.Quotation.FirstOrDefault().HSQuotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info glyphicon-remove-sign" })
                              </span>
                            </td>
                          }
                        </tr>
                      }
                      @if (Model.ProcessingSection == (int)ProcessingSections.ATHSPC || Model.ProcessingSection == (int)ProcessingSections.ATPC || Model.ProcessingSection == (int)ProcessingSections.HSPC || Model.ProcessingSection == (int)ProcessingSections.PC)
                      {
                        <tr>
                          <td>
                            @(new HtmlString(Model.TravelRequests.ApplicationNumber + " / PC-Q"))
                          </td>
                          <td>
                            Airport Pickup Quotation list
                          </td>
                          @if (Model.Quotation.FirstOrDefault().PCQuotation.Where(a => a.IsActive == true && a.IsDeleted == false).Count() > 0)
                          {
                            <td>
                              <span class="glyphicon">
                                @Html.ActionLink("  View Details", "ViewPCQuotations", new { id = Model.Quotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                              </span>
                            </td>
                            <td></td>
                          }
                          else if (Model.Quotation.FirstOrDefault().PCQuotation.Where(a => a.IsActive == false && a.IsDeleted == false).Count() > 0)
                          {
                            <td>
                              <span class="glyphicon">
                                @Html.ActionLink("  View to Add Details", "AddPCQuotation", new { quoteid = Model.Quotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                              </span>
                            </td>
                            <td>
                              <span class="glyphicon" style="visibility:hidden">
                                @Html.ActionLink("  Delete", "DeletePCQuotation", new { id = Model.Quotation.FirstOrDefault().PCQuotation.FirstOrDefault().ID }, new { @class = "form-control btn btn-info glyphicon-remove-sign" })
                              </span>
                            </td>
                          }
                        </tr>
                      }
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
        </section>
      </aside>

      <div id="detailsDiv" style="height:auto">

        @Html.AntiForgeryToken()

        @Html.Partial("_TravelRequestDetails", Model.TravelRequests)

      </div>
    </div>
  </div>
}

@section Scripts {
  <script type="text/javascript">
    if ($('#airportpic').text() == "Yes") {
      $('#PickUpDetailsDiv').show()
    }
    else {
      $('#PickUpDetailsDiv').hide()
    }

    $('#detailsDiv').find('textarea').attr('disabled', 'disabled');

  </script>
}