@model Travel_Request_System_EF.Models.RFQ
@using Travel_Request_System_EF.Models.ViewModel

@{
    ViewBag.Title = "Add Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div style="height:auto">
  @*<div class="row" style="margin-bottom:15px">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.ActionLink("Add Quotation", "RFQMerger", new { id = Model.RFQID }, new { @class = "form-control btn btn-info" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3 pull-right">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "form-control btn btn-info" })
            </div>
        </div>
    </div>*@

  <div class="form-horizontal">
    <aside class="right-side">
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Quotation Table</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
                <table class="table table-condensed table-bordered">
                  <thead>
                    <tr class="success">
                      <th>##</th>
                      <th>Details</th>
                      <th>Action</th>
                      <th>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="AllCheck">
                          </label>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @if (Model.ProcessingSection == (int)ProcessingSections.AT || Model.ProcessingSection == (int)ProcessingSections.ATHS || Model.ProcessingSection == (int)ProcessingSections.ATHSPC || Model.ProcessingSection == (int)ProcessingSections.ATPC)
                                            {
                    <tr>
                      <td>
                        HRD-BTC-CC-XXXX/AT-Q
                      </td>
                      <td>
                        Air Ticket Quotation list
                      </td>
                      <td>
                        <span class="glyphicon">
                          @Html.ActionLink("  View to Add Details", "Email", new { id = Model.ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                        </span>
                        <span class="glyphicon">
                          @Html.ActionLink("  Delete", "Details", new { id = Model.ID }, new { @class = "form-control btn btn-info glyphicon-remove-sign" })
                        </span>
                      </td>
                      <td>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="ATCheck">
                          </label>
                        </div>
                      </td>
                    </tr>
                                            }

                    @if (Model.ProcessingSection == (int)ProcessingSections.ATHS || Model.ProcessingSection == (int)ProcessingSections.ATHSPC || Model.ProcessingSection == (int)ProcessingSections.HS || Model.ProcessingSection == (int)ProcessingSections.HSPC)
                                            {
                    <tr>
                      <td>
                        HRD-BTC-CC-XXXX/HS-Q
                      </td>
                      <td>
                        Hotel Stay Quotation list
                      </td>
                      <td>
                        <span class="glyphicon">
                          @Html.ActionLink("  View to Add Details", "Email", new { id = Model.ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                        </span>
                        <span class="glyphicon">
                          @Html.ActionLink("  Delete", "Details", new { id = Model.ID }, new { @class = "form-control btn btn-info glyphicon-remove-sign" })
                        </span>
                      </td>
                      <td>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="HSCheck">
                          </label>
                        </div>
                      </td>
                    </tr>
                                            }
                    @if (Model.ProcessingSection == (int)ProcessingSections.ATHSPC || Model.ProcessingSection == (int)ProcessingSections.ATPC || Model.ProcessingSection == (int)ProcessingSections.HSPC || Model.ProcessingSection == (int)ProcessingSections.PC)
                                            {
                    <tr>
                      <td>
                        HRD-BTC-CC-XXXX/PC-Q
                      </td>
                      <td>
                        Airport Pickup Quotation list
                      </td>
                      <td>
                        <span class="glyphicon">
                          @Html.ActionLink("  View to Add Details", "Email", new { id = Model.ID }, new { @class = "form-control btn btn-info  glyphicon-info-sign" })
                        </span>
                        <span class="glyphicon">
                          @Html.ActionLink("  Delete", "Details", new { id = Model.ID }, new { @class = "form-control btn btn-info glyphicon-remove-sign" })
                        </span>
                      </td>
                      <td>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="PCCheck">
                          </label>
                        </div>
                      </td>
                    </tr>
                                            }
                  </tbody>
                </table>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </div>
        </div>
      </section>
    </aside>

    <div id="detailsDiv" style="height:auto">

      @Html.AntiForgeryToken()

      @Html.Partial("_TravelRequestDetails", Model.TravelRequests);

      <div class="col-xs-12 col-md-12">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Remarks</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
            <div class="row" style="margin-bottom:15px">
              <aside class="right-side">
                <!-- Main content -->
                <section class="content">
                  <div class="container text-center">
                    <div class="col-xs-11">
                      <div class="box with-border">
                        <div class="box-header">
                          <h3 class="box-title">Details</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive">
                          <table id="uloadTable" class="table table-bordered table-hover table-responsive">
                            <thead>
                              <tr>
                                <th>File Name</th>
                                <th>Uploaded Date</th>
                                <th>Uploaded By</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              @foreach (var item in (List<Travel_Request_System_EF.Models.Attachments>)ViewBag.fileUploader)
                                                                {
                              <tr id="@item.FileName">
                                <td>@item.FileName</td>
                                <td>@item.UploadedDate.ToShortDateString()</td>
                                <td>@(new HtmlString(item.Users.FirstName + " " + item.Users.LastName))</td>
                                <td style="text-align: center">
                                  @Html.ActionLink("  Open File", "OpenFile", new { fileName = item.FileName }, new { @class = "form-control btn btn-info glyphicon-edit" })
                                </td>
                              </tr>
                                                                }
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </aside>
            </div>
            <div class="row" style="margin-bottom:15px">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-3">Travel Agency</label>
                  <div class="col-sm-9">
                    @{
                                                var pd = ((IEnumerable<Travel_Request_System_EF.Models.TravelAgency>)ViewBag.TravelAgency).FirstOrDefault(rt => rt.ID == Model.TravelAgencyID).AgencyCode.ToString();
                    }
                    @pd
                  </div>
                </div>
              </div>
              <div class="col-sm-6"></div>
            </div>
            <div class="row" style="margin-bottom:15px">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="col-sm-2">Remarks</label>
                  <div class="col-sm-12">
                    @Html.TextAreaFor(model => model.Remarks, htmlAttributes: new { @class = "form-control", @rows = "3", @readonly = "readonly" })
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}

@section Scripts {
  <script type="text/javascript">
        if ($('#airportpic').text() == "Yes") {
            $('#PickUpDetailsDiv').show()
        }
        else {
            $('#PickUpDetailsDiv').hide()
        }

        $('#detailsDiv').find('textarea').attr('disabled', 'disabled');
  </script>
}